form {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      max-width: 100ch;
      padding: 8px 12px;
    }
  }
  button {
    width: max-content;
    padding: 8px 16px;
  }
}
