@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #efefef;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.custom-cta {
  display: flex;
  gap: 16px;
}

.custom-brand {
  cursor: default;
}

.custom-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.custom-blur {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.7);
}

.custom-login {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .btn {
    width: max-content;
  }
}

@media (max-width: 650px) {
  .css-table {
    thead {
      display: none;
    }
    tr {
      display: block;
      margin-bottom: 15px;
      border-bottom: 1px solid #ddd;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 48px 0;
    }
    td {
      display: block;
      padding: 10px;
      position: relative;
      border: none;
      background: #fff;
      border-radius: 8px;
      margin: 10px 0;
    }
    td:before {
      display: grid;
      font-weight: 700;
    }

    td:nth-of-type(1) {
      background-color: #cff4fc;
      font-weight: 900;
    }

    td:nth-of-type(3):before {
      content: "Name :";
    }
    td:nth-of-type(4):before {
      content: "Description :";
    }
    td:nth-of-type(5):before {
      content: "Category :";
    }
    td:nth-of-type(6):before {
      content: "Price :";
      color: #198754;
    }
  }
}
